.loop-label .MuiFormControlLabel-label {
    font-size: 9pt;
}

.at-cursor-bar {
    /* Defines the color of the bar background when a bar is played */
    /*background: rgba(255, 242, 0, 0.25);*/
}

.at-selection div {
    /* Defines the color of the selection background */
    background: rgba(255, 242, 0, 0.2);
}

.at-cursor-beat {
    /* Defines the beat cursor */
    background: rgba(84, 209, 26, 0.75);
    width: 3px;
}

.at-highlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
}